body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 40px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  color: #38bdf8;
}

section {
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
